/* 1. Trang chủ - Trần Quốc Gia Huy */

/* Bổ sung css */
*{
    font-family: roboto;
}
:root{
    --green : green;
    --red : red;
    --white : white;
}
.fl{
    float: left;
}
.color_white{
    color: var(--white);
}
.color_red{
    color: var(--red);
}
.bold{
    font-weight: bold;
}
.margin_top_2-5px{
    margin-top: 2.5px;
}
.margin_top_5px{
    margin-top: 5px;
}
.margin_top_10px{
    margin-top: 10px;
}
.margin_top_15px{
    margin-top: 15px;
}
.margin_top_20px{
    margin-top: 20px;
}
.margin_top_30px{
    margin-top: 30px;
}
.margin_top_40px{
    margin-top: 40px;
}
.margin_bottom_10px{
    margin-bottom: 10px;
}
.margin_top_50px{
    margin-top: 50px;
}
.margin_10px{
    margin: 10px;
}
.margin_20px{
    margin: 20px;
}
.color_blue{
    color: blue;
}
.color_header_menu_1{
    background-color: #CFD8DC;
}
.Thanh_menu_Ngang{
    background-color: #1976D2;
}
.Thanh_footer_Ngang{
    background-color: #6351CE;
}
.text-decoration ul li a{
    text-decoration: none;
}
.Chinh_anh_banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 600px;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.width_1320px{
    width: 1320px;
}
/* Hết bổ sung css */

/* Trang đăng nhập */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.background_color{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

@media only screen and (max-width: 768px){

.box-area{
    margin: 0 10px;

}
.left-box{
    height: 100px;
    overflow: hidden;
}
.right-box{
    padding: 20px;
}

} */
/* Hết trang đăng nhập */

/* Hết Trang chủ - Trần Quốc Gia Huy */